page-task-modal {
  .title{
    padding: 1%;
  }
    .text-r {
        float: right;
    }
    .text-l {
        float: left;
    }
    .pad-l-0{
      padding-left: 0px;
    }
    .pad-0{
      padding: 0px;
    }
}
