<div class="row">
  <div class="col-12 time-header">
  </div>
</div>
<div class="row">
  <div class="col-12 time-event">
    {{ holidayName }}
  </div>
</div>
<div class="row scrolling">
  <div class="row time-body">
    <div class="col col-fixed-100 d-flex flex-column">
      <div *ngFor="let item of ['00:00','&nbsp;','01:00','&nbsp;','02:00','&nbsp;','03:00','&nbsp;','04:00','&nbsp;','05:00','&nbsp;','06:00','&nbsp;','07:00','&nbsp;','08:00','&nbsp;','09:00','&nbsp;','10:00','&nbsp;','11:00','&nbsp;','12:00','&nbsp;','13:00','&nbsp;','14:00','&nbsp;','15:00','&nbsp;','16:00','&nbsp;','17:00','&nbsp;','18:00','&nbsp;','19:00','&nbsp;','20:00','&nbsp;','21:00','&nbsp;','22:00','&nbsp;','23:00','&nbsp;']"
        class="time d-flex align-items-stretch">{{item}}</div>
    </div>

    <div class="col table">
      <div class="row">
        <div class="col timestamp">
          <div *ngFor="let item of worktable ;let i = index" class="stamp" [attr.data-index]="i" [attr.data-value]="item">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
