timetable-day {
  $cheader: #bf0a13;
  $cgraylight: #dfe6e9;
  $cgraymid: #b2bec3;
  $cllightgray: #f5f7fa;
  $chlightgray: #e6e9ed;
  $white: #ffffff;
  $stamping: rgb(70, 120, 255);
  $stamped: rgb(44, 111, 246);
  .row {
    padding: 0px;
  }
  .time-header {
    background-color: $cheader;
    height: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 3px solid $cgraymid;
    text-align: center;
    color: $white;
    font-size: 18px;
    font-weight: 300;
  }
  .time-event {
    background-color: $cgraylight;
    height: 25px;
    border-bottom: 3px solid $cgraymid;
    text-align: center;
    color: inherit;
    font-size: 14px;
    font-weight: 300;
  }
  .scrolling {
    overflow: scroll;
    overflow-x: hidden !important;
    height: 522px;
  }
  .time-body {
    display: table;
    .col-fixed-100 {
      -ms-flex: 0 0 100px;
      flex: 0 0 100px;
      background-color: $cgraylight;
      height: 967px;
      padding: 0px;
      .time {
        height: calc(967px / 48);
        padding-right: 10px;
        padding-left: 10px;
      }
      .time:nth-child(even) {
        border-bottom: 1px solid $cgraymid;
      }
    }
    .table {
      display: table-cell;
      padding-right: 0px;
      padding-left: 0px;
      .timestamp {
        position: relative;
        padding-right: 0px;
        padding-left: 0px;
        .stamp {
          height: calc(967px / 48);
          position: relative;
        }
        .stamp:nth-child(even) {
          background-color: $chlightgray;
        }
        .stamp:nth-child(odd) {
          background-color: $cllightgray;
        }
      }
    }
  }
  .ui-selecting {
    background: $stamping !important;
  }
  .ui-selected {
    background: $stamped !important;
  }
}
