.l-blue{
  background-color: #007BFF !important;
}
.l-pink{
  background-color: #FF0056 !important;
}
.l-red{
  background-color: #FF0000 !important;
}
.l-orange{
  background-color: #FF9900 !important;
}
.l-cyan{
  background-color: #17A2B8 !important;
}
.l-violet{
  background-color: #A300BB !important;
}
.l-green{
  background-color: #0FD400 !important;
}
